---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- Teaching
====== -->
# <i>Teaching</i>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<!-- Talks
====== -->
# <i>Talks</i>

{% for post in site.talks reversed %}
  {% include archive-single.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

