---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<html>
<hr color="000000" />
</html>
<br/>  
{% include base_path %}

<!-- Talks
====== -->
# <i>Talks</i>
##  <i>Talks</i> ## 

{% for post in site.talks reversed %}
  {% include archive-single.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


<!-- Teaching
====== -->
# <i>Teaching</i>
## <i>Teaching</i>##

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}



# <i>Service and leadership</i>
## <i>Service and leadership</i> ## 
<!-- Service and leadership
====== -->
* <b>Senior Technical Officer</b>
* 09.2012-06.2013, Senior Technical Officer
  * Department of Technology, R&D Centre, BBT Student Innovation Centre
  * I was in a team of IT fans called to develop website (http://www.100steps.net/), Android & IOS application for Shuttle bus location, second hand online market and etc

