---
layout: archive
title: "Talks"
permalink: /teaching/
author_profile: true
---

<!-- <html>
<hr color="000000" />
</html>
<br/>   -->

<!-- {% include base_path %} -->

<!-- Talks
====== -->
<!-- <hr color="#FFFFFF" /> -->

<!-- # <i>Talks</i>
##  <i>Talks</i> ##  -->
<!-- <strong><b> Talks </b></strong> -->

{% for post in site.talks reversed %}
  {% include archive-single.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<hr color="#FFFFFF" />


<!-- Teaching
====== -->
<!-- <strong><h1> Teaching </b></strong> -->
<!-- # <i>Teaching</i>
## <i>Teaching</i>## -->


<h1> Teaching </h1>
<!-- <hr color="#FFFFFF" /> -->

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr color="#FFFFFF" />


<!-- <strong><b> Service and leadership </b></strong> -->
<!-- # <i>Service and leadership</i>
## <i>Service and leadership</i> ##  -->
<!-- Service and leadership
====== -->
<!-- <b>Senior Technical Officer, 2012-2013</b>
Department of Technology, R&D Centre, BBT Student Innovation Centre

He was in a team of IT fans called to develop website (http://www.100steps.net/), Android & IOS application for Shuttle bus location and second hand online market.
 -->

<h1> Service and leadership  </h1>

<h2> Co-supervised MPhil Students for Master Projects: </h2>
<ul>
  <li> <a href="https://www.linkedin.com/in/bgrhudso/" style="color:#5dbcd2;">Ben Hudson</a>. His thesis has been accepted by ICLR 2022.</li>
  <li> <a href="https://www.linkedin.com/in/george-papagiannis-85b91011a/" style="color:#5dbcd2;">George Papagiannis</a>. He is now PhD student supervised by Prof Edward Johns in Imperial College London. </li>
</ul>


<!-- <hr color="#FFFFFF" /> -->
<h2>Reviewer</h2>
<ul>
  <li>Autonomous Robots (AURO) 2022.</li>
  <li>IEEE International Conference on Intelligent Robots and Systems (IROS), 2019, 2020, 2021, 2022.</li>
  <li>IEEE International Conference on Robotic and Automation (ICRA) 2017, 2018, 2019, 2021.</li>
  <li>IEEE Robotics and Automation Letters (RA-L), 2019, 2020.</li>
  <li>IEEE Transactions on Robotics (T-RO), 2020.</li>
  <li>IEEE Robotics and Automation Letters (RA-L), 2019</li>
  <li>International Conference On Autonomous Agents and Multi-Agent Systems (AAMAS), 2019.</li>
</ul>

<hr color="#FFFFFF" />

{% for post in site.services reversed %}
  {% include archive-single.html %}
{% endfor %}
